parser: babel-eslint
plugins:
  - ava
extends:
  - airbnb-base
  - plugin:ava/recommended
parserOptions:
  ecmaVersion: 6
  sourceType: module
  ecmaFeatures:
    experimentalObjectRestSpread: true
env:
  browser: true
rules:
  no-param-reassign: [2, { props: false }]
